@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/*
 *	Override the design of alerts and labels
 */

%label-alert-common {
	border-radius: 0;
	border-style: solid;
	border-width: 0 0 0 4px;
}

.alert {
	@extend %label-alert-common;

	> {
		:first-child {
			margin-left: 1.2em;
			margin-top: auto;

			&:before {
				display: inline-block;
				font-family: "Glyphicons Halflings";
				margin-left: -1.3em;
				position: absolute;
			}
		}

		strong,
		em,
		span {
			&:first-child {
				display: inline-block;
			}
		}
	}
}

%label-alert-color-000 {
	color: #000;
}

%label-alert-underline {
	text-decoration: underline;
}

.label {
	@extend %label-alert-common;
}

%label-default-bg-border-left {
	background: #eee;
	border-color: #acacac;
}

.label-default {
	@extend %label-default-bg-border-left;
	@extend %label-alert-color-000;

	&[href] {
		&:hover,
		&:focus,
		&:active {
			@extend %label-default-bg-border-left;
			@extend %label-alert-color-000;
			@extend %label-alert-underline;
		}
	}
}

%label-primary-bg-border-left {
	background: #e8f2f4;
	border-color: #083c6c;
}

.label-primary {
	@extend %label-primary-bg-border-left;
	@extend %label-alert-color-000;

	&[href] {
		&:hover,
		&:focus,
		&:active {
			@extend %label-primary-bg-border-left;
			@extend %label-alert-color-000;
			@extend %label-alert-underline;
		}
	}
}

$label-alert-success-border-icon-color: #278400;

%label-alert-success-bg-border-left {
	background: #d8eeca;
	border-color: $label-alert-success-border-icon-color;
}

.label-success {
	@extend %label-alert-success-bg-border-left;
	@extend %label-alert-color-000;

	&[href] {
		&:hover,
		&:focus,
		&:active {
			@extend %label-alert-success-bg-border-left;
			@extend %label-alert-color-000;
			@extend %label-alert-underline;
		}
	}
}

.alert-success {
	@extend %label-alert-success-bg-border-left;
	@extend %label-alert-color-000;

	> {
		:first-child {
			&:before {
				color: $label-alert-success-border-icon-color;
				content: "\e084";
			}
		}
	}
}

$label-alert-info-border-icon-color: #269abc;

%label-alert-info-bg-border-left {
	background: #d7faff;
	border-color: $label-alert-info-border-icon-color;
}

.label-info {
	@extend %label-alert-info-bg-border-left;
	@extend %label-alert-color-000;

	&[href] {
		&:hover,
		&:focus,
		&:active {
			@extend %label-alert-info-bg-border-left;
			@extend %label-alert-color-000;
			@extend %label-alert-underline;
		}
	}
}

.alert-info {
	@extend %label-alert-info-bg-border-left;
	@extend %label-alert-color-000;

	> {
		:first-child {
			&:before {
				color: $label-alert-info-border-icon-color;
				content: "\e086";
			}
		}
	}
}

$label-alert-warning-border-icon-color: #f90;

%label-alert-warning-bg-border-left {
	background: #f9f4d4;
	border-color: $label-alert-warning-border-icon-color;
}

.label-warning {
	@extend %label-alert-warning-bg-border-left;
	@extend %label-alert-color-000;

	&[href] {
		&:hover,
		&:focus,
		&:active {
			@extend %label-alert-warning-bg-border-left;
			@extend %label-alert-color-000;
			@extend %label-alert-underline;
		}
	}
}

.alert-warning {
	@extend %label-alert-warning-bg-border-left;
	@extend %label-alert-color-000;

	> {
		:first-child {
			&:before {
				color: $label-alert-warning-border-icon-color;
				content: "\e107";
			}
		}
	}
}

$label-alert-danger-border-icon-color: #d3080c;

%label-alert-danger-bg-border-left {
	background: #f3e9e8;
	border-color: $label-alert-danger-border-icon-color;
}

.label-danger {
	@extend %label-alert-danger-bg-border-left;
	@extend %label-alert-color-000;

	&[href] {
		&:hover,
		&:focus,
		&:active {
			@extend %label-alert-danger-bg-border-left;
			@extend %label-alert-color-000;
			@extend %label-alert-underline;
		}
	}
}

.alert-danger {
	@extend %label-alert-danger-bg-border-left;
	@extend %label-alert-color-000;

	> {
		:first-child {
			&:before {
				color: $label-alert-danger-border-icon-color;
				content: "\e101";
			}
		}
	}
}